html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: #fcf8f2;
}
img {
  width: 100%;
  height: auto;
}
label {
  display: none;
}
.icon {
  position: absolute;
  z-index: 5;
  display: none;
}
.container {
  max-width: 1037px;
  margin: 0 auto;
}
.offert {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  overflow-x: hidden;
}
h1 {
  text-transform: uppercase;
  text-align: center;
}
.main__item-filter h1 {
  color: white;
  margin: 0 0 5px 0;
  font-size: 1.5rem;
}
select {
  background-color: rgb(75 99 97);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  color: rgb(255 255 255);
  padding: 5px 0 5px 10px;
  border: 1px solid rgb(216 180 109);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 3px;
  font-size: 1rem;
  width: 100px;
  cursor: pointer;
}

option {
  background-color: white;
  border: 1px solid rgb(216 180 109);
  color: rgb(75 99 97);
}
.offert__item {
  position: relative;
}
.offert__item:nth-of-type(1) {
  z-index: 3;
}
.offert__item:nth-of-type(3) {
  z-index: 5;
}
.offert__item:hover .link {
  background: #d5014f;
}
.offert__item:hover img {
  box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 0.75);
}
.link {
  text-decoration: none;
  cursor: pointer;
  color: rgb(255 255 255);
  background: rgb(184 3 69);
  padding: 0.3rem 2.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1rem;
  transition: background 0.2s ease-in-out;
  position: relative;
  margin-top: 2px;
  border: none;
}
.link:hover {
  box-shadow: 0px 5px 16px -6px rgba(0, 0, 0, 0.3);
}

.link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid rgb(0 0 0 / 0%);
  border-left: 5px solid rgb(255 255 255);
  border-bottom: 5px solid rgb(0 0 0 / 0%);
  right: 12px;
  top: 0.5rem;
  transition: transform 0.2s ease-in-out;
}
.link:hover::after {
  transform: translateX(3px);
}
.offert__link {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
.icon-yr_roslina_3min {
  transform: rotate(-23deg) scale(2.5);
  left: -30%;
  bottom: 0;
  z-index: -1;
}
.icon-yr_roslina_2min {
  right: -35%;
  top: 85px;
  z-index: -1;
  transform: scale(1.2);
}
.icon-yr_roslina_4min {
  transform: rotate(-14deg) scale(1.6);
  left: -33%;
  bottom: 10%;
}
.icon-yr_krolik_1min {
  bottom: -50px;
  right: -12rem;
  transform: scale(0.5);
  z-index: 4;
}
.main__item {
  position: relative;
}
.filter__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__item-filter {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.main__item-filter form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.animate {
  animation: animate 1.5s 0.3s ease-in-out forwards;
}

@keyframes animate {
  100% {
    transform: translateX(-5px) scale(0.5);
  }
}
@media screen and (min-width: 480px) {
  .link {
    margin-top: 1.5rem;
  }
  .icon-yr_krolik_1min {
    display: block;
  }
}
@media screen and (min-width: 570px) {
  .main__item-filter h1 {
    margin: 10px 0;
    font-size: 2.5rem;
  }
  select {
    background-image: url('https://pngimage.net/wp-content/uploads/2018/06/white-down-arrow-png-7.png');
    width: 180px;
    margin: 0 10px;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 75%;
  }
  .link::after {
    top: 0.6rem;
  }
  .link {
    margin-top: 2.5rem;
  }
  .icon-yr_krolik_1min {
    bottom: -36px;
    right: -8rem;
    transform: scale(0.8);
    z-index: 2;
  }
  @keyframes animate {
    100% {
      transform: translateX(-30px) scale(0.8);
    }
  }
}
@media screen and (min-width: 991px) {
  html {
    font-size: 85%;
  }
  .icon-yr_roslina_4min,
  .icon-yr_roslina_2min {
    display: block;
  }
}
@media screen and (min-width: 1037px) {
  html {
    font-size: 100%;
  }
  .offert {
    margin: 1.5rem 0;
    grid-gap: 1.5rem 2rem;
    overflow-x: visible;
  }
  .icon-yr_roslina_3min {
    display: block;
  }
  .link::after {
    border-top: 7px solid rgb(0 0 0 / 0%);
    border-left: 7px solid rgb(255 255 255);
    border-bottom: 7px solid rgb(0 0 0 / 0%);
  }
  .icon-yr_krolik_1min {
    bottom: -32px;
    right: -6rem;
    transform: scale(1);
  }
  @keyframes animate {
    100% {
      transform: translateX(-30px) scale(1);
    }
  }
}
